* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
}

.container {
    width: 100%;
    min-height: 100vh; 
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #363945;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #2d303a;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.calculator form input:hover {
    background-color: #3c3f4b;;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    
}

form input.equal {
    width: 145px;
}

form input.operator {
    background-image: radial-gradient(circle farthest-side, #ffb700d2, #ffbc03c5);
    color:#2d303a
}